@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
 
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-image: url(../images/d_shadow.png);
    background-color: #f00 !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding:2%;
    z-index: 1;
}
.logo img{
    margin-left: 100px;
}
.nav-a{
    position: fixed;
    top: 0;
    right: 5;
    left: 10;
    z-index: 1; 
    height: 80px;
    margin-top: 4rem;
    padding-top: 0 !important;
   
}
.head-nav {
    padding: 1%;
    margin-left: 90px;
    height: 90px;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
}
.ft_circle {
    display: inline-block;
    white-space: nowrap;
    flex: 0 0 auto;
    width: auto !important;
    text-align: center;
}
a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
.cont{
    margin-top:15%;
}
.sub-nav{
    min-height: 50px;
    border-bottom: 1px solid black;
}
.sub-nav a{
    padding: 1.1em;
    cursor: pointer;
    text-decoration: none;
    color: #666;
}
.sub-nav a:hover{
    color:black;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f00 !important;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.search-bar{
    padding:1%;
    padding-left:3%;
    padding-right:3%;
}
.search-bar input{
    margin-top:1%;
    height: 20px;
    width:20%; 
    outline:none;
    border:none;
    font-size:14px; 
    
    border-bottom: 1px solid #000;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button{
    width: 20%;
    margin-left:2% ;
    background-color: #97adb2;
    color: antiquewhite;
    outline: none;
    border: none;
}
.search-bar dl{
    font-size: 12px;
}