@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  color: #000;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #000;
  text-transform: uppercase;
}

.section-header p {
  margin-top: 3%;
  font-weight: 600;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 8px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 25px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  float: left;
  align-self: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #4154f1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #02a8c6;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #5969f3;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  background: url(../images/Check\ blocks\ bg.png) top center no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(32, 33, 36, .1);
}

.main-head {
  margin-top: 3%;
  font-size: 4rem;
  line-height: 110%;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.main-head span {
  color: #e31e24;
}

.main-head div p {
  margin-top: 3%;
  font-weight: 600;
  padding-right: 10%;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  line-height: normal;
}

.input-box {
  display: flex;
  margin-left: 2%;
  border: 1px solid #03a8c6;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  font-size: 20px;
}

.input-box .prefix {
  font-weight: 300;
  color: #000;
}

.input-box input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
}

.input-box:focus-within {
  border: 1px solid #03a8c6;
  letter-spacing: 3;
  outline: transparent;
  border-radius: 5px;
}
@media(max-width:370px){
  .input-box {
    display: flex;
    margin-left: 2%;
    border: 1px solid #03a8c6;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 16px;
  }
  
  .input-box .prefix {
    font-weight: 200;
    color: #000;
  }
  
  .input-box input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .input-box:focus-within {
    border: 1px solid #03a8c6;
    letter-spacing: 3;
    outline: transparent;
    border-radius: 5px;
  }
}

.btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  min-height: 40px;
  background: #03a8c6;
  box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  letter-spacing: 1px;
}

.btn-read-more:hover {
  background-color: #4154f1;
}

.img-fluid {
  max-width: 130%;
}
@media(max-width:500px){
  .clients-slider .img-fluid{
    width:90%;
  }
}
.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.img-peace {
  max-height: 80px;
  max-width: 80px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background-color: #eceeef;

}

.about .content {

  padding: 40px;
}
.top-title{
  font-family: "Nunito", sans-serif;
    letter-spacing: .3vh;
    font-weight: 600;
    text-align: center;
}

h1 {
  margin-top: 2%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.about p {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 3%;
}
.slider-key{
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(65, 84, 241, 0.4);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}




/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.phases {
  letter-spacing: 4.4vh;
}

.process-phase {
  color: #fff;
  background-color: #000;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.8%;
  padding-right: 1.8%;
  font-size: 18px;
  border-radius: 50% 50%;
  letter-spacing: normal;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 1100px) {
  .phases {
    letter-spacing: 2.4vh;
   
  }
}

@media (max-width: 768px) {
  .phases {
    letter-spacing: 2.4vh;
    padding-left: 8%;
  }
  .process-phase{
    padding-left: 2.3%;
  padding-right: 2.3%;
  }
}
@media (max-width: 530px) {
  .phases {
    letter-spacing: .8vh;
    padding-left: 8%;
  }
  .process-phase{
    padding-left: 3%;
  padding-right: 3%;
  }
}

.values .box {
  padding: 30px;
  /* box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08); */
  text-align: center;
  /* transition: 0.3s; */
  height: 100%;
}


.values .box h3 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  margin-bottom: 18px;
}

.values p {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  ;
}



/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  align-items: center;
  padding: 15px;
  width: 100%;
  background: #fff;
}

.counts .count-box span {
  font-size: 36px;
  font-weight: 600;
  color: #000;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .feature-icons h3 {
  color: #000;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #000;
}

.features .feature-icons .content .icon-box i {
  font-size: 12px;
  line-height: 20px;
  text-shadow: 0px 0px 20px #000;
  color: #000;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #000;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  color:#fff;
  background: url(../images/TSI\ bg.png) top center no-repeat fixed;
  min-height: 100%;
}
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #2db6fa;
}

.services .service-box.blue:hover {
  background: #2db6fa;
}

.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.services .service-box.orange .read-more {
  color: #f68c09;
}

.services .service-box.orange:hover {
  background: #f68c09;
}

.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.services .service-box.green .read-more {
  color: #08da4e;
}

.services .service-box.green:hover {
  background: #08da4e;
}

.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.services .service-box.red .read-more {
  color: #e9222c;
}

.services .service-box.red:hover {
  background: #e9222c;
}

.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.services .service-box.purple .read-more {
  color: #b50edf;
}

.services .service-box.purple:hover {
  background: #b50edf;
}

.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.services .service-box.pink .read-more {
  color: #f51f9c;
}

.services .service-box.pink:hover {
  background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.contact-main{
  min-height: 1300px;
  background: #fff;
  /* padding:10%; */
}
/* @media (max-width: 768px){
  .contact-main{
    padding:1%;
  }
} */
.contact-main .contact-tile{
  margin-top:3%;
  height: 600px;
  background: #e7f1ff;
  border-radius: 50px
}
@media (max-width:500){
  .contact-main .contact-tile{
    height: 900px;
  }
  
}
.contact-main .contact-detail{
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 4%;
}
@media (max-width:450) {
  .contact-main .contact-detail{
    font-weight: 200;
    font-size: 14px;
  }
}
.contact-main .form-tile{
  min-height:500px;
  margin-top:10%;
  background-color: #f7fbff;
  box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
  border-radius: 20px;
  overflow: visible;
  margin-bottom: 150px;

  padding-top:10%;
}
/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq{
  min-height: 700px;
}
.faq p{
  font-weight: 600;
  
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    text-align: left;
    margin-top: 3%;
}


.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/


.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}


@media (max-width: 1199px) {

  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/


.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact-main .php-email-form {
  padding: 30px;
  height: 100%;
}

.contact-main .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact-main .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact-main .php-email-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact-main .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-main .php-email-form input,
.contact-main .php-email-form textarea {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(65 84 241 / 10%);
  font-size: 14px;
  border:1px;
}
.contact-main .php-email-form input{
  height:60px;
}

.contact-main .php-email-form input:focus,
.contact-main .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact-main .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact-main .php-email-form button[type="submit"] {
  background: #029eba;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact-main .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-family: "Nunito", sans-serif;
  background: #013289;
  padding: 0 0 15px 0;
  color:#fff;
  font-size: 14px;
}
@media (max-width: 770) {
  .footer{
    font-size: 12px;
  }
}

.footer .copyright {
  text-align: left;
  padding-top: 15px;
}
.footer .copyright ul li{
  display: inline;
}